/* insperation from this template https: //technext.github.io/anime/index.html */

/* Start Variable */
:root {
  --dark-blue-color: #070720;
  --main-blue-color: #0b0c2a;
  --main-red-color: #e53637;
  --gray-color: #b7b7b7;
  --scondry-gray-color: rgb(61, 61, 61);
  --main-transition-duration: 0.3s;
  --scondry-transition-duration: 0.5s;

  --main-section-padding: 100px;
  --scondry-section-padding: 60px;
}

/* End Variable */
/* Start Global Rules  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish", sans-serif;
  background-color: var(--main-blue-color);
  height: 10000px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* End Global Rules  */

/* Loader Screen */
.loader-screen {
  width: 100%;
  height: 100vh;
  background-color: var(--main-blue-color);
  position: fixed;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  height: 80px;
  aspect-ratio: 1;
  display: grid;
}

.loader:before,
.loader:after {
  content: "";
  --c: no-repeat linear-gradient(#e53637 0 0);
  background: var(--c), var(--c);
  background-size: 25% 50%;
  animation: l5 1.5s infinite linear;
}

.loader:after {
  transform: scale(-1);
}

@keyframes l5 {

  0%,
  5% {
    background-position: 33.4% 100%, 66.6% 100%
  }

  25% {
    background-position: 33.4% 100%, 100% 0
  }

  50% {
    background-position: 0 0, 100% 0
  }

  75% {
    background-position: 0 0, 66.6% 100%
  }

  95%,
  100% {
    background-position: 33.4% 100%, 66.6% 100%
  }
}

/* End Loader Screen  */

/* Start Component  */
.dowBtn {
  display: block;
  padding: 1rem 1.3rem;
  border-radius: 4px;
  background-color: var(--main-red-color);
  width: fit-content;
  font-family: "Source Code Pro", sans-serif;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  transition: var(--main-transition-duration);
}

.dowBtn:hover {
  color: white;
}

/* End Component  */
/* Start Header Section */
nav.navbar {
  background-color: var(--dark-blue-color) !important;
  position: absolute;
  width: 100%;
  z-index: 100;
  box-shadow: 1px 6px 20px #000000c9;
  transition: var(--scondry-transition-duration);
}

@media (min-width: 992px) {
  nav.navbar {
    padding: 0;
  }
}

.navbar.in-top {
  top: 0;
}

.navbar.in-middle {
  top: -5rem;
}

.navbar.in-bottom {
  position: fixed;
  top: 0;
  background-color: transparent;
}

.navbar .navbar-brand {
  color: red;
  font-weight: 900;
  letter-spacing: -1px;
  font-size: 26px;
}

.navbar .navbar-toggler:focus {
  box-shadow: none;
  transition: var(--main-transition-duration);
  border: 2px solid rgb(104, 104, 104);
}

.navbar .navbar-toggler i {
  color: #eee;
  font-size: 1.6rem;
}

.navbar .navbar-brand span {
  color: white;
}

.navbar .navbar-collapse .nav-item .nav-link {
  color: var(--gray-color);
  font-weight: 600;
  padding: 1rem 1.2rem;
  transition: var(--main-transition-duration);
}

.navbar .navbar-collapse .nav-item .nav-link:hover {
  color: white;
}

.navbar .navbar-collapse .nav-item .nav-link.active {
  background-color: var(--main-red-color);
  color: white;
}

/* End Header Section */
@media (max-width: 1200px) {
  .carousel {
    top: 65px;
  }
}

.carousel .carousel-indicators {
  margin-bottom: 0;
}

.carousel .carousel-indicators button {
  height: 5px;
}

.carousel .carousel-inner {
  width: 100%;
  height: calc(100vh - 65px);
}

@media (max-width: 1300px) {
  .carousel .carousel-inner {
    height: calc(90vh - width)
  }
}

@media (max-width: 1200px) {
  .carousel .carousel-inner {
    height: calc(80vh - 65px);
  }
}

@media (max-width: 992px) {
  .carousel .carousel-inner {
    height: calc(70vh - 65px);
  }
}

@media (max-width: 768px) {
  .carousel .carousel-inner {
    height: calc(60vh - 65px);
  }
}

@media (max-width :587px) {
  .carousel .carousel-inner {
    height: calc(50vh - 65px);
  }
}

@media (max-width :450px) {
  .carousel .carousel-inner {
    height: calc(40vh - 65px);
  }
}

.carousel .carousel-inner .carousel-item {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.carousel .carousel-item .carousel-caption {
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  display: block !important;
}

.carousel .carousel-item .game-info {
  display: flex;
  align-items: start;
  gap: 0.5rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.carousel .carousel-item .game-info img {
  width: 90px;
  border-radius: 10px;
}

.carousel .carousel-item .game-info h2 {
  width: 50%;
  text-align: start;
  font-weight: 900;
  font-size: 2rem;
  text-transform: capitalize;
  color: white;
}

@media (max-width: 587px) {
  .carousel .carousel-item .game-info h2 {
    width: 100%;
  }
}

.carousel .carousel-control-prev,
.carousel .carousel-control-next {
  width: fit-content;
  height: fit-content;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
}

@media (min-width: 992px) {
  .carousel .carousel-control-next {
    right: -15px;
  }

  .carousel .carousel-control-prev {
    left: -15px;
  }

  .carousel .carousel-control-prev-icon,
  .carousel .carousel-control-next-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .carousel .carousel-control-prev-icon::before,
  .carousel .carousel-control-next-icon::before {
    content: "";
    position: absolute;
    background-color: var(--main-blue-color);
    width: 150%;
    height: 150%;
    transform: rotate(45deg);
    z-index: -1;
  }
}

@media (max-width: 587px) {

  .carousel .carousel-control-next,
  .carousel .carousel-control-prev {
    /* display: none; */
  }
}

/* Start Trending Section  */
.trend-section {
  padding-top: var(--main-section-padding);
  padding-bottom: var(--main-section-padding);
}

.trend-section .main-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin-bottom: 1rem;
}

.trend-section .main-heading h2 {
  color: white;
  font-weight: 800;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding-left: 15px;
  position: relative;
}

.trend-section .main-heading h2::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 32px;
  left: 0;
  top: 0;
  background: var(--main-red-color);
}

.trend-section .main-heading a {
  color: white;
  font-family: "Source Code Pro", sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.trend-section .main-heading a i {
  font-size: 14px;
}

.trend-section .row>div {
  flex: 0 0 calc(100%/ 4);
}

@media (max-width: 992px) {
  .trend-section .row>div {
    flex: 0 0 calc(100%/ 2);
  }
}

@media (max-width: 576px) {
  .trend-section .row>div {
    flex: 0 0 80%;
  }
}

.trend-section .row .content {
  padding: 15px 10px;
  background: #0000005e;
  border-radius: 10px;
  box-shadow: 0 0 20px #ffffff1f;
}


.trend-section .row .game-img {
  height: 300px;
  /* background-image: url(/assets/images/last-war.webp); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .trend-section .row .game-img {
    height: 200px;
  }
}

@media (max-width: 992px) {
  .trend-section .row .game-img {
    height: 300px;
  }
}

@media (max-width: 767px) {
  .trend-section .row .game-img {
    height: 230px;
  }
}

@media (max-width: 576px) {
  .trend-section .row .game-img {
    height: 230px;
  }
}

.trend-section .row .game-img:hover .download-btn {
  transform: translateY(0rem)
}

.trend-section .row .game-img .download-btn {
  width: 100%;
  height: 100%;
  background: #000000ba;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  transform: translateY(30rem)
}

.trend-section .row .game-img .download-btn a {
  display: block;
  padding: 0.5rem 1rem;
  border: 2px solid var(--main-red-color);
  border-radius: 4px;
  background-color: var(--main-red-color);
  width: fit-content;
  font-family: "Source Code Pro", sans-serif;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  transition: var(--main-transition-duration);
}

.trend-section .row .info .download-btn a:hover {
  border: 2px solid var(--main-red-color);
  background-color: transparent;
  color: var(--main-red-color);
}

.trend-section .row .info .top-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  padding: 10px 0px;
  color: white;
}

.trend-section .row .info .top-info .stars,
.trend-section .row .info .top-info .download-count {
  padding: 1px 14px;
  background: var(--scondry-gray-color);
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.trend-section .info .top-info i {
  font-size: 11px;
}

.trend-section .info .category {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  flex-wrap: wrap;
  margin: 0.5rem 0;
}

.trend-section .info .category span {
  color: white;
  font-size: 11px;
  padding: 1px 6px;
  border-radius: 6px;
  background: #6d6d6d;
  font-weight: 700;
}

.trend-section .info .game-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 0.5rem;
  color: white;
}

/* End Trending Section  */
